body{
    background-color: skyblue;
}
@media(min-width: 700px){
    .Two ol{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
}
}
@media(min-width: 850px){
    .Three ol{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5px;
}
}
@media(min-width: 1050px){
    .Four ol{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 5px;
}
}
ol{
    padding: 20px;
}
h1, p{
    text-align: center;
}
